.chatHeader {
	height: var(--header-height);
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
	border-bottom: 0.1rem solid var(--secondary-color-500);
	padding-inline: 2rem;
	position: sticky;
	top: 0;
	z-index: 5;
}

.chatHeader__position {
	font-weight: 500;
	margin-left: 0.5rem;
}
.chatHeader__position::first-letter {
	text-transform: uppercase;
}

.chatHeader__right {
	display: flex;
	gap: 0.5rem;
	justify-content: flex-end;
	align-items: center;
}

.chatHeader__more:hover .chatHeader__settings {
	display: block;
}

.chatHeader__settings {
	top: calc(var(--header-height) - 0.5rem);
	right: 2rem;
}

.chatHeader__menuitem {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	font-size: 0.9rem;
	text-wrap: nowrap;
	padding: 0.3rem 0.5rem;
	cursor: pointer;
}
.chatHeader__menuitem--red {
	color: var(--red-color-400);
}
.chatHeader__menuitem:hover {
	background-color: var(--secondary-color-500);
}
