.submenu {
	display: none;
	list-style: none;
	background-color: var(--primary-color);
	border-radius: var(--br);
	box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem var(--secondary-color-500);
	padding-block: 0.5rem;
	position: absolute;
}
